.interface {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.btn {
  user-select: none;
  float: left;
  background-color: inherit;
  color: #fff;
  font-size: 4rem;
  border: none;
  img {
    height: 5rem;
  }
}
