.App {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(#ee875b0f 1px, transparent 1px);
  background-size: 1rem 1rem;
  background-color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.img {
  pointer-events: none;
  user-select: none;
  height: 50%;
}
