.App {
  width: 100vw;
  height: 100vh;
  background: #000;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

.img {
  pointer-events: none;
  user-select: none;
  height: 50%;
}
