@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.container {
  display: flex;
  align-items: center;
  gap: 15rem;
}

.gameBoard {
  font-family: "Varela Round", sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: auto;
}

.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;

  font: 1em sans-serif;
  width: 5rem;
  font-size: 2rem;
  text-wrap: nowrap;
  span {
    font-family: "Varela Round", sans-serif;
    font-size: 25rem;
    position: absolute;
    z-index: -1;
  }
}
.next {
  animation: colorChange 0.5s;
  color: #a95023c4;
}
.default {
  color: #ffffff2d;
}
.cell {
  width: 25vh;
  height: 25vh;
  background-color: #642100;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  transition: background-color 0.5s;
  user-select: none;
  &:hover {
    background-color: #a95023;
  }
  &:active {
    background-color: #ff753a;
  }
}

.winner {
  background-color: #ff753a;
  &:hover {
    background-color: #ff753a;
  }
}
@keyframes colorChange {
  0% {
    color: #ffffff2d;
  }
  50% {
    color: #ff753ad2;
  }
  100% {
    color: #a95023c4;
  }
}
